doctype html
html
head
  title= title
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
body  

block content
  h1= title
  h3 NickName: #{nickName}
  h3 Email: #{email}
  h3 Poderes: #{poderes}

  br
  br 
  a(href="/") INICIO
  